<div class="slider fullscreen z-depth-1">
    <ul class="slides">
        <!--<li ng-repeat="slide in slidesData">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="background-image: url('{{slide.image}}')"></img>
        </li>-->
        <li>
            <img src="assets/img/illustration/mudra/mudra1.jpg"></img>
        </li>
        <li>
            <img src="assets/img/illustration/parsprototo/ppt2.jpg"></img>
        </li>
        <li>
            <img src="assets/img/illustration/kenmeri/kenmeri_marker.jpg"></img>
        </li>
        <li>
            <img src="assets/img/illustration/bagua/BG1.jpg"></img>
        </li>
    </ul>
</div>
