<div class="slider fullscreen z-depth-1">
    <ul class="slides">

        <li ng-repeat="slide in slidesData">
            <h1>TEST</h1>
            <img ng-src="{{slide.image}}"></img>
            <h1>TEST</h1>
        </li>
        <!--<li class="imgslides">
            <img src="assets/img/illustration/parsprototo/ppt2.jpg"></img>
        </li>
        <li class="imgslides">
            <img src="assets/img/illustration/kenmeri/kenmeri_marker.jpg"></img>
        </li>
        <li class="imgslides">
            <img src="assets/img/illustration/bagua/BG1.jpg"></img>
        </li>-->
    </ul>
</div>
