<div class="container content">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="slider fullscreen">
                <ul class="slides">
                    <li ng-repeat="slide in slides">
                        <img ng-src="assets/{{slide.image}}"/>
                        <div class="caption center-align">
                            <h3>{{slide.headingText}}</h3>
                            <h5 class="light grey-text text-lighten-3">{{slide.sloganText}}</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
