@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

nav {
    background-color: transparent;
    box-shadow: none;
}
.row{
  width:1100px;
  margin: auto;
}
.nav-wrapper .brand-logo{
	color:#000;
	margin-left: 5rem;
}

.nav-wrapper a{
	color:#000;
}

.content {
	margin: auto;
}

.project {
	position: fixed;
	white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
}

.work{
	display: inline-block;
    padding: 20px;
}

.work img {
    height: 480px;
    width: auto;
}

.card{
    margin: 2.5rem;
    display: inline-block;
}

.card-image{
    width: 300px;
    height: 300px;
}

.card-image img{
    height: 100%;
    object-fit: cover;
}

 .card .card-reveal {
    padding: 20px;
    position: absolute;
    opacity:0;
    width: 100%;
    overflow-y: auto;
    top: 0%;
    height: 100%;
    z-index: 1;
    display: block;
}

.card .card-reveal:hover {
    background-color: #000;
    opacity: 0.7;
}

.card .card-title {
    text-align: center;
    color: white;
    font-weight: 500;
    letter-spacing: 3px;
    top: 50%;  
}

.card-title {
    line-height: 250px;
}

.waves-effect{
    will-change:auto;
}

.slider{
	z-index: -1;
}

.btnleft{
  z-index: 5;
  background: #000;
  color: #fff;
  float: left;
  width: 75px;
  height: 75px;
  left: 15px;
  top: 50%;
  position: fixed;
  transform: translateY(-50%);
  text-align: center;
  cursor:pointer;

}

.btnright{
  z-index: 5;
  background: #000;
  color: #fff;
  float: right;
  width: 75px;
  height: 75px;
  right: 15px;
  top: 50%;
  position: fixed;
  transform: translateY(-50%);
  text-align: center;
  cursor:pointer;

}

.btnleft span{
  position: relative;
  padding-top: 13px;
  font-size: 50px;
  cursor:pointer;
}

.btnright span{
  position: relative;
  padding-top: 13px;
  font-size: 50px;
  cursor:pointer;
}

.dropdown-content{
    min-width: 65px;
    margin-top: 4.2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-content li:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.dropdown-content li > a{
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

@media(max-width: 768px){
	.nav-wrapper .brand-logo{
		margin:0;
	}

    .card{
        margin:0px;
        margin-left: 4.5rem;
        margin-bottom: 1rem;
    }
} /* xs */
@media(min-width: 768px) and (max-width: 992px){
} /* sm */
@media(min-width: 992px) and (max-width: 1200px){
    .nav-wrapper .brand-logo{
    margin:0;
  }

    .card{
        margin:0px;
        margin-left: 4.5rem;
        margin-bottom: 1rem;
    }
} /* md */
@media(min-width: 1200px){
      .nav-wrapper .brand-logo{
    margin:0;
  }

    .card{
        margin:0px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
} /* lg */
